body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #74ebd5;
    color: #333;
    text-align: center;
    line-height: 1.6;
}

header {
    background-color: #9face6;
    color: white;
    padding: 20px 0;
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product-card {
    background-color: #feada6;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}


.product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


.product-card button {
    background-color: #fef9d7;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}
